@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);

* {
  font-family: "Roboto", sans-serif !important;
}

body {
  background-color: #333;
  color: #eee;
}

button {
  background-color: #444;
  border: #444 2px solid;
  color: inherit;
  font-size: 18px;
  border-radius: 8px;
  padding: 8px;
  transition: 0.2s;
}

button:hover {
  border: #88ff 2px solid;
  background-color: #555;
  cursor: pointer;
}

button:active {
  border: #55ff 2px solid;
  background-color: #333;
}

h1 {
  font-size: 32px;
}

a {
  color: #88ff;
}

a:visited {
  color: #55ff;
}
