---
name: lint

on:
  push:
    branches: ["main"]
  pull_request:

  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Setup node 16
        uses: actions/setup-node@v3
        with:
          node-version: "16"

      - name: Lint using eslint
        run: |
          npm install
          npm run lint
